.metronome {
  border:1px solid #333;
  border-radius :20px;
  width:80%;
  margin:20px auto;
  padding:5px;
  text-align:center;
  background : #333;
  box-shadow: 10px 10px;
}

.bpm-slider input {
  color: red;
  margin-bottom: 10px;
}

.metronome button {
  background: #001f4b;
  padding: 10px;
  border: 1px solid #832420;
  border-radius : 50px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}
