#container{
 border:1px solid #333;
 border-radius :20px;
 width:80%;
 margin:20px auto;
 padding:20px;
 text-align:center;
 background : #333;
}

#innertimer {
  font-size: 16px;
}

#timer{
 color:#b2cde0;
 font-size:50px;
 margin:0 auto;
 border : 5px solid #6497b2;
 border-radius:50%;
 width: 50%;
 padding: 10px;
 height: auto;
 overflow:hidden;
 position:relative;
 cursor:default;
 }

#time {
 margin-top:70px;
 z-index : 1;
 position:relative;
}

#filler{
 background : #ddffcc;
 height: 0px;
 width: 200px;
 position:absolute;
 bottom:0;
}

.buttons {
 text-align: center;
 background:#001f4b;
 border: 1px solid #832420;
 color:#b2cde0;
 cursor:pointer;
 width:50px;
 font-size:14px;
 height: 20px;
 border-radius : 50px;
}
