.todolist {
  text-align: left;
}

#container{
 border:1px solid #333;
 border-radius :20px;
 width:80%;
 margin:20px auto;
 padding:5px;
 text-align:center;
 background : #333;
}

.done {
  text-decoration: line-through;
}

.undone {
  text-decoration: none;
}

.highlight {
  animation: highlight 300ms ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: #333;
  }
  100% {
    background-color: yellow;
  }
}
