.App {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #001f4b 0%, #FFAE00 100%);
  height: auto;
  overflow: auto;
  font-family: 'Spectral SC', serif;
}

h1 {
  font-family: 'Spectral SC', serif;

}

#mainLogo {

  height: 200px;
  width: 200px;
}

.appContainer {
  padding: 2px 16px;
  text-align: center;
}
